services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      SECRET_KEY_BASE: ${SECRET_KEY_BASE}
    volumes:
      - db_data:/var/lib/postgresql/data

  web:
    build:
      context: .
      args:
        SECRET_KEY_BASE: ${SECRET_KEY_BASE}
    command: bundle exec puma -C config/puma.rb
    volumes:
      - .:/app
    environment:
      RAILS_ENV: production
      SECRET_KEY_BASE: ${SECRET_KEY_BASE}
    depends_on:
      - db

  nginx:
    image: nginx:1.25
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./public:/app/public
      - /etc/letsencrypt:/etc/letsencrypt:ro   # monta certificados del host
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web

volumes:
  db_data:

