<p class="body-copy">empieza a practicar el deporte de tus sueños en mucho menos tiempo
de lo que piensas
</p>

  
  <div class="contenedor-boton">
  <%= link_to "Estoy interesado", new_user_path, class: "boton-interesado" %>

</div>

<%= link_to "Iniciar sesión", login_path %>

